Source: pc80b-ble
Maintainer: Peter Wyrd <thewyrdguy@gmail.com>
Uploaders: Peter Wyrd <thewyrdguy@gmail.com>
Priority: optional
Section: misc
Build-Depends: black,
               debhelper-compat (= 12),
               dh-python,
               mypy,
               python3-all,
               python3-setuptools
Standards-Version: 4.5.1
X-Python-Version: >= 3.6
Homepage: https://github.com/thewyrdguy/pc80b-ble/
X-Description: Application to read and render realtime ECG
 GTK4 / Gstreamer / bleak application to read and render realtime ECG
 from PC80B-BLE recorder and produce video stream that can be sent to
 a streaming service.

Package: pc80b-ble
Architecture: any
Section: python
Depends: python3-gi (>> 3.50) | python3-gbulb,
         gstreamer1.0-gtk4,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Application to read and render realtime ECG
 GTK4 / Gstreamer / bleak application to read and render realtime ECG
 from PC80B-BLE recorder and produce video stream that can be sent to
 a streaming service.
